body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3e2723; /* Dark Mocha color */
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 430px; /* Width of iPhone 13 Pro Max */
    height: 932px; /* Height of iPhone 13 Pro Max */
}

h1 {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}

.video-container {
    position: relative;
    width: 100%;
    height: 80%; /* Take 80% of the container height */
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
